*.o
*.so
.deps
*.swp
*.dump
*--*
*.gz

sql/*/*.sql
sql/*/results
regression.*

newgrants_*.sql
oldgrants_*.sql

debian/control
debian/tmp
debian/files
debian/postgresql-*
debian/*-stamp
*.substvars
*.log
*.debhelper

pgq_ext.sql
pgq_ext.upgrade.sql

results/

docs/Data
docs/html
docs/sql

